@import "../../variables.scss";

#home {
    position: relative;
}

#home-content {
    padding: 25vh 12vw;
}

#main-title {
    color: $color-accent-bright;
}

#ps-content {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}