$font-title: 'Merriweather', serif;
$font-text: 'Open Sans', sans-serif;

$color-primary: #161616;
$color-secondary: #242530;
$color-accent-bright: #FE4928;
$color-accent-numb: #A33327;
$border-radius: 8px;

// Extra small screen / phone
$xs: 0;
// Small screen / phone
$sm: 576px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 992px;
// Extra large screen / wide desktop
$xl: 1200px;

$media-breakpoint: 1100px;
$media-breakpoint-xs: 600px;